      <h1 class="pt-5 pb-2">Covid Data</h1>

	  <p class="ml-4"><a href="{{ url_for('index') }}">Return to the index.</a></p>

		<table class="table">
			<tr>
				<th>Observation Date</th>
				<th>State</th>
				<th>Confirmed</th>
				<th>Deaths</th>
				<th>Recovered</th>
			</tr>

			<!-- here is a for-loop to give us all the socks -->
			{% for virus in covid %}
			<tr>
				<td>{{ virus.ObservationDate }}</td>
				<td>{{ virus.State }}</td>
				<td>{{ virus.Confirmed }}</td>
				<td>{{ Virus.Deaths }}</td>
				<td>{{ virus.Recovered }}</td>
			</tr>
			{% endfor %}
		</table>
